@import "../../app.scss";

.Avatar {
  height: calc(90vh - 110px);
  overflow: hidden;
  background: linear-gradient(180deg, #0c0c1d, #111132);
  position: relative;

  .wrapper {
    max-width: 1366px;
    height: 110%;
    margin: auto;

    .textContainer {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 5px;
      margin-left: 10px;

      @include mobile {
        height: 50%;
        width: 100%;
        gap: 10px;
        align-items: center;
        text-align: center;
        margin-top: 25px;
      }

      .CVLink {
        background-color: orange; // Set button background color to orange
        color: black; // Set button text color to black
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        font-size: large;
        margin-top: 15px;

        @include mobile {
          // Adjust styles for mobile screens if necessary
        }
      }

      h2 {
        font-size: 30px;
        color: rebeccapurple;
        letter-spacing: 3px;
        @include mobile {
          font-size: 15px;
          color: rebeccapurple;
          letter-spacing: 3px;
        }
      }

      h1 {
        font-size: 70px;

        @include mobile {
          font-size: 30px;
        }
      }

      .buttons {
        button {
          padding: 20px;
          border: 1px solid white;
          border-radius: 10px;
          background-color: transparent;
          color: white;
          margin-right: 20px;
          cursor: pointer;
          font-weight: 300;
        }
      }

      img {
        width: 90px;
        @include mobile {
          width: 50px;
        }
      }

      .smallImage {
        width: 60px;
        height: 60px;
        margin-top: 10px;
        @include mobile {
          width: 20px;
          height: 20px;
          margin-top: 10px;
        }
      }
    }
  }

  .imageContainer {
    height: 110%;
    position: absolute;
    top: 0;
    right: 0;

    @include mobile {
      height: 50%;
      width: 120%;
      top: unset;
      bottom: 0;
    }

    img {
      width: 95%;
      height: 89%;
      object-fit: cover;
      border-radius: 40%; /* Add this line to round the image */
      transform: scale(0.7); /* Scale the image to 2x its size */
      transform-origin: top right;
      margin-right: 5px;
      margin-top: 125px;

      @include mobile {
        width: 73%;
        height: 140%;
        object-fit: cover;
        border-radius: 20%; /* Add this line to round the image */
        transform: scale(0.35); /* Scale the image to 2x its size */
        transform-origin: top right;
        align-items: center;
        margin-top: 60px;
      }
    }
  }

  .slidingTextContainer {
    position: absolute;
    font-size: 50vh;
    bottom: -120px;
    white-space: nowrap;
    color: #ffffff09;
    width: 50%;
    font-weight: bold;
  }
}
